<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RHPM</title>
	<style>
		body {
			text-align: center;
			background-color: white;
			font-family: sans-serif;
		}

		h1 {
			margin: 50px 0;
			color: #5e0080;
		}

		div {
			margin: 50px 0;
		}

		a {
			text-decoration: none;
			color: #dd4814;
			font-size: 30px;
		}

		code {
			font-family: monospace;
			background-color: #ddd;
			font-size: 20px;
		}
	</style>
</head>

<body>
	<h1>Request Header Parser Microservice</h1>
	<hr>
	<div>
		<a href="api/whoami">[url]/api/whoami</a>
	</div>
	<div>
		<code>
			{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}
		</code>
	</div>
</body>

</html>